#items-selected-text {
    margin-right: 28px;
}

.hide-text {
    color: black;
    border-bottom-color: black;
}

.hide-text:hover {
    color: black
}

#ingred-table th:first-child+th, th:first-child+th+th, td:first-child+td, td:first-child+td+td {
    text-align: right;
}

