html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

#search {
    max-width: 17rem;
}

th {
    font-weight: 600;
}

.hide-text {
    color: black;
    border-bottom-color: black;
}

.hide-text:hover {
    color: black
}

#ingred-table th:first-child+th, th:first-child+th+th, td:first-child+td, td:first-child+td+td {
    text-align: right;
}