@import url('https://rsms.me/inter/inter.css');
body {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', sans-serif;
  }
}

#content {
  display: block;
}

h1 {
  font-size: 1.375rem;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
}

.serif {
  font-family: 'Lora', serif;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic
}

@media screen and (min-width: 992px) {
  #my-ingred-col {
    min-width: 297px;
    max-width: 297px;
  }
}

#search-input {
  width: 200px;
}

#search-add, #remove-button, .r-ingred-btn {
  line-height: 20px;
}

.cur-ingred {
  margin-right: 4px;
}

label {
  margin-bottom: 0;
}

#ingred-table, #recipe-table {
  display: none;
}

/* .r-ingred {
  margin-top: 0rem;
  margin-bottom: .5rem;
  margin-right: .5rem;
  margin-left: 0;
  font-size: 1rem;
  padding: 0.15rem .5rem;
} */

div.dataTables_wrapper div.dataTables_info {
  color: #4d5156;
  float: left;
  padding-top: 0px;
}

.dataTables_filter {
  float: right;
}

/* @media screen and (max-width: 420px) {
  .dataTables_filter {
    float: left;
  }
}
 */

.dataTables_filter input {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-opacity='1' width='12' height='12' viewBox='0 0 16 16' fill-rule='nonzero'%3E%3Cpath d='M11.87 10.835c.018.015.035.03.051.047l3.864 3.863a.735.735 0 1 1-1.04 1.04l-3.863-3.864a.744.744 0 0 1-.047-.051 6.667 6.667 0 1 1 1.035-1.035zM6.667 12a5.333 5.333 0 1 0 0-10.667 5.333 5.333 0 0 0 0 10.667z'%3E%3C/path%3E%3C/svg%3E") left / contain no-repeat;
  background-size: 12px;
  background-position: 6px 9px;
  padding-left: 22px;
  max-width: 220px;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0px;
}

#ingred-table th:first-child+th, th:first-child+th+th, td:first-child+td, td:first-child+td+td {
  text-align: right;
}

td:first-child+td {
  padding-right: 25px;
}

td:first-child+td+td {
  padding-right: 25px;
}

table.dataTable.table-sm thead tr th:not(.sorting_disabled) {
  padding-right: 25px;
}

table.dataTable.table-sm .sorting::before, table.dataTable.table-sm .sorting_asc::before, table.dataTable.table-sm .sorting_desc::before {
  right: 0.7rem;
}

table.dataTable.table-sm .sorting::after, table.dataTable.table-sm .sorting_asc::after, table.dataTable.table-sm .sorting_desc::after {
  right: 0rem;
}

th {
  font-size: 16px;
  font-variant: small-caps;
  font-weight: 500;
}

table.dataTable tbody td {
  vertical-align: middle;
}

@media screen and (max-width: 420px) {
  li.paginate_button.previous {
    display: inline;
  }
  li.paginate_button.next {
    display: inline;
  }
  li.paginate_button {
    display: none;
  }
  li.paginate_button.active {
    display: inline;
  }
}

@media screen and (max-width: 1300px) {
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    flex-wrap: wrap;
    justify-content: center;
  }
}

#ingred-title {
  font-family: 'Lora', serif;
  font-size: 1.1rem;
  font-weight: 400;
}

.recipe-intro {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: 'Lora', serif;
}

.recipe-prep {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: 'Lora', serif;
  font-style: italic
}

.recipe-ingred {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: 'Lora', serif;
}