.serif {
  font-family: 'Lora', serif;
}
/*
#cur-ingreds {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
}
 */
.recipe-intro {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Lora', serif;
}

.recipe-prep {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Lora', serif;
  font-style: italic
}

.recipe-ingred {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'Lora', serif;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic
}