.serif {
  font-family: 'Lora', serif;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic
}

.cur-ingred {
  margin-right: 7px;
}

.r-ingred {
  margin: 3px;
  margin-left: 0px;
}

.recipe-intro {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Lora', serif;
}

.recipe-prep {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Lora', serif;
  font-style: italic
}

.recipe-ingred {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'Lora', serif;
}