/* .tt-input, .tt-hint {
    width: 200px;
    height: 30px;
    padding: 3px 7px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

*/

.tt-input {
    width: 200px;
}

.tt-hint {
    width: 200px;
    color: #999;
}

.tt-menu {
    width: 200px;
    padding: 2px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.3);
    max-height: 500px;
    overflow-y: auto;
}

.tt-suggestion {
    padding: 1px 2px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #007bff;
}

.tt-suggestion p {
    margin: 0;
}