#search-input, .dataTables_filter>label>input {
    border-radius: 4px;
}

#search, #bloodhound, .twitter-typeahead, #search-input, .tt-input, .tt-hint, .tt-menu {
    width: 100%;
}

@media screen and (min-width: 430px) {
    #search, #bloodhound, .twitter-typeahead, #search-input, .tt-input, .tt-hint, .tt-menu {
        width: 250px;
    }
}

@media screen and (min-width: 992px) {
    #search, #bloodhound, .twitter-typeahead, #search-input, .tt-input, .tt-hint, .tt-menu {
        width: 100%;
    }
}

#search-input {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-opacity='1' width='16' height='16' viewBox='0 0 16 16' fill-rule='nonzero'%3E%3Cpath d='M11.87 10.835c.018.015.035.03.051.047l3.864 3.863a.735.735 0 1 1-1.04 1.04l-3.863-3.864a.744.744 0 0 1-.047-.051 6.667 6.667 0 1 1 1.035-1.035zM6.667 12a5.333 5.333 0 1 0 0-10.667 5.333 5.333 0 0 0 0 10.667z'%3E%3C/path%3E%3C/svg%3E") left / contain no-repeat;
    background-size: 13px;
    background-position-x: 8px;
    background-position-y: center;
    padding-left: 26px;
    height: 36px;
}

.tt-input, .tt-hint {
    height: 36px;
    padding-left: 26px;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    border: 1px solid #1d1d1f;
}

@media screen and (min-width: 992px) {
    #search-input {
        height: 33px;
    }

    .tt-input, .tt-hint {
        height: 33px;
    }
}

.tt-input {
    background-color: transparent;
}

.tt-hint {
    background-color: transparent;
    color: rgb(153, 153, 153);
    font-size: 1rem;
}

.tt-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.3);
    max-height: 300px;
    overflow-y: auto;
}

@media screen and (min-width: 992px) {
    .tt-menu {
        max-height: 500px;
    }
}

.tt-suggestion {
    padding-left: 26px;
    font-size: 1rem;
    line-height: 40px;
    background: url("plus_muted.svg") left / contain no-repeat;
    background-size: 12px;
    background-position-x: 8px;
    background-position-y: center;
    cursor: pointer;
}

.tt-suggestion.tt-cursor {
    background-image: url("plus.svg");
    background-size: 12px;
    background-position-x: 8px;
    background-position-y: center;
    background-repeat: no-repeat;
}

@media screen and (min-width: 992px) {
    .tt-suggestion {
        line-height: 35px;
    }

    .tt-suggestion.tt-cursor {
        background-color: rgb(238, 238, 238);
    }
}

.tt-suggestion:active {
    background-color: rgb(238, 238, 238);
    background-image: url("plus.svg");
    background-size: 12px;
    background-position-x: 8px;
    background-position-y: center;
    background-repeat: no-repeat;
}