<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>foodwise</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/sp-1.2.1/datatables.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}{{ version_str }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='typeahead.css') }}{{ version_str }}">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container-fluid pt-4 pb-3 pt-sm-3">
        <h1 class="mb-2">foodwise</h1>
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-5 mb-2 mb-lg-4" id="my-ingred-col">
                        <div class="d-flex align-items-end justify-content-between">
                            <h2 class="">Your Ingredients</h2>
                            <button type="button" class="btn btn-link d-block d-lg-none shadow-none" id="toggle-ingred"
                                href="javascript:void(0)">Hide</button>
                        </div>
                        <hr class="mt-0 mb-2 d-block d-lg-none" />
                        <div id="content-ingred">
                            <form class="mt-1 mb-1" id="search">
                                <div class="d-flex align-items-center" id="bloodhound">
                                    <input class="typeahead mr-2" name="search" id="search-input"
                                        placeholder="{{ random_ingred }}" title="Select an ingredient"
                                        autocomplete="off" autofocus="true">
                                    <input class="btn btn-outline-primary" id="search-add" type="submit" value="Add">
                                </div>
                            </form>
                            <form class="" id="cur-ingreds">
                                {%- if cur_ingreds -%}
                                {%- for cur_ingred in cur_ingreds -%}
                                <div class='cur-ingred'>
                                    <input type="checkbox" id="{{cur_ingred}}" name="{{cur_ingred}}">
                                    <label for="{{cur_ingred}}">{{- cur_ingred -}}</label>
                                </div>
                                {%- endfor -%}
                                <input type="submit" class="btn btn-outline-danger mt-1" value="Remove"
                                    id="remove-button">

                                {%- endif -%}
                            </form>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="d-flex align-items-end justify-content-between">
                            <h2>Recommended Ingredients</h2>
                            <button class="btn btn-link shadow-none d-block d-lg-none" id="toggle-recommend"
                                href="javascript:void(0)">Hide</button>
                        </div>
                        <hr class=" mt-0 mb-2 d-block d-lg-none" />
                        <div id="content-recommend">
                            <div id="r-ingreds">
                                <table id="ingred-table" class="table table-sm table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th class="border-0 pl-0" scope="col">ingredient</th>
                                            <th class="border-0" scope="col">score</th>
                                            <th class="border-0" scope="col">recipes</th>
                                            <th class="border-0" scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%- if r_ingreds -%}
                                        {%- for r_ingred in r_ingreds -%}
                                        <tr>
                                            <td class="pl-0">{{ r_ingred.0 }}</td>
                                            <td>{{ r_ingred.1 }}</td>
                                            <td>{{ r_ingred.2 }}</td>
                                            <td class="text-right pr-0"><button type="button"
                                                    class="r-ingred-btn btn btn-outline-primary btn-sm" name="r_ingred"
                                                    value="{{r_ingred.0}}">Add</button></td>
                                        </tr>
                                        {%- endfor -%}
                                        {%- endif -%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg mt-2 mt-lg-0">
                <h2 class="">Recipes</h2>
                <hr class="mt-0 mb-2 d-block d-lg-none" />
                <div id="recipes">
                    <table id="recipe-table" class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th class="border-0 pl-0" scope="col">recipe</th>
                                <th class="border-0" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {%- if recipes -%}
                            {%- for recipe in recipes -%}
                            <tr>
                                <td class="pl-0"><a href="{{recipe.1}}">{{ recipe.0 }}</a></td>
                                <td class="pl-0"></td>
                            </tr>
                            {%- endfor -%}
                            {%- endif -%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/sp-1.2.1/datatables.min.js"></script>
    <script src="{{ url_for('static', filename='typeahead.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bloodhound.min.js') }}"></script>
    <script>
        var states = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '../static/all_ingreds_filtered.json'
        });

        $('#bloodhound .typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 0
        },
            {
                name: 'states',
                source: states,
                limit: 999
            });
    </script>

    <script src="{{ url_for('static', filename='script.js') }}{{ version_str }}"></script>

    <script src="https://unpkg.com/whatwg-fetch@2.0.4/fetch.js"></script>
    <script src="https://unpkg.com/promise-polyfill@7.1.2/dist/polyfill.min.js"></script>
    <script src="{{ url_for('static', filename='datalist-polyfill.min.js') }}"></script>
</body>

</html>