<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>foodwise</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/sp-1.2.1/datatables.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}{{ version_str }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='typeahead.css') }}{{ version_str }}">


    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container-fluid pt-3 pb-3 pt-xl-4 pl-xl-4 pr-xl-4">
        <h1 class="mb-3">foodwise</h1>
        <div class="row m-0">
            <div class="col-lg mb-4 mb-lg-0" id="my-ingred-col">
                <h2>Your Ingredients</h2>
                <div id="content-ingred">
                    <form class="mt-2 mb-1" id="search">
                        <div id="bloodhound">
                            <input class="typeahead" name="search" id="search-input" title="Select an ingredient"
                                autocomplete="off" autofocus="true">
                        </div>
                    </form>
                    <form class="" id="cur-ingreds">
                        {%- if cur_ingreds -%}
                        {%- for cur_ingred in cur_ingreds -%}
                        <div class='cur-ingred'>
                            <input type="checkbox" autocomplete="off" id="{{cur_ingred}}" name="{{cur_ingred}}">
                            <label for="{{cur_ingred}}">{{- cur_ingred -}}</label>
                        </div>
                        {%- endfor -%}
                        <input type="submit" class="btn btn-outline-danger mt-1" value="Remove" id="remove-button">

                        {%- endif -%}
                    </form>
                </div>

            </div>
            <div class="col-lg mb-4 mb-lg-0" id="rec-ingred-col">

                <h2>Recommended Ingedients</h2>
                <h3>Scored by unique pairability</h3>
                <div id="r-ingreds" class="mt-2">
                    <table id="ingred-table" class="table table-sm table-hover pt-2 mb-0">
                        <thead>
                            <tr>
                                <th class="border-0 pl-0" scope="col">
                                    <span class="lg-view">Ingredient</span>
                                    <span class="xs-view">Ingred.</span>
                                </th>
                                <th class="border-0" scope="col">Score</th>
                                <th class="border-0" scope="col">
                                    <span class="lg-view">Recipes</span>
                                    <span class="xs-view">Rcps.</span>
                                </th>
                                <th class="border-0" scope="col"></th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="col-lg" id="recipe-col">

                <h2>Recipes</h2>
                <h3>Recipes with all of your ingredients</h3>
                <div id="recipes" class="mt-2">
                    <table id="recipe-table" class="table table-sm table-borderless pt-2">
                        <thead>
                            <tr>
                                <th class="border-0 pl-0" scope="col">recipe</th>
                                <th class="border-0" scope="col"></th>
                                <th class="border-0" scope="col"></th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/sp-1.2.1/datatables.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.unveil.js') }}"></script>
    <script src="{{ url_for('static', filename='typeahead.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bloodhound.min.js') }}"></script>


    <script type="module" src="{{ url_for('static', filename='fastest-levenshtein.1.0.12.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='autocomplete.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}{{ version_str }}"></script>

    <script src="https://unpkg.com/whatwg-fetch@2.0.4/fetch.js"></script>
    <script src="https://unpkg.com/promise-polyfill@7.1.2/dist/polyfill.min.js"></script>
    <script src="{{ url_for('static', filename='datalist-polyfill.min.js') }}"></script>
</body>

</html>