<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>foodwise</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/sp-1.2.1/datatables.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}{{ version_str }}">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container-fluid pt-3 pb-3 pt-sm-4">
        <h1 class="mb-3">foodwise</h1>
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-lg-4" id="my-ingred-col">
                        <div class="d-flex justify-content-between">
                            <h2>My ingredients</h2>
                            <a class="d-block d-md-none hide-text" href=#>Hide</a>
                        </div>
                        <hr class="mt-0 mb-2 d-block d-md-none" />
                        <form class="mt-2 mb-2" id="search">
                            <input name="search" id="search-input" placeholder="{{ random_ingred }}"
                                title="Select an ingredient" list="all_ingreds" pattern="{{ pattern }}"
                                autocomplete="off" autofocus="true">
                            <datalist id="all_ingreds">
                                {%-for ingred in all_ingreds -%}<option value="{{ ingred }}"></option>{%-endfor -%}
                            </datalist>
                            <input id="search-add" type="submit" value="Add">
                        </form>
                        <form class="" id="cur-ingreds">
                            {%- if cur_ingreds -%}
                            {%- for cur_ingred in cur_ingreds -%}
                            <span class='cur-ingred'>
                                <input type="checkbox" id="{{cur_ingred}}" name="{{cur_ingred}}">
                                <label for="{{cur_ingred}}">{{- cur_ingred -}}</label></span>
                            {%- endfor -%}
                            <input type="submit" class="" value="Remove" id="remove-button">
                            {%- endif -%}
                        </form>
                    </div>
                    <div class="col-lg mt-3 mt-lg-0">
                        <div class="d-flex justify-content-between">
                            <h2>Recommendations</h2>
                            <a class="d-block d-md-none hide-text" href=#>Hide</a>
                        </div>
                        <hr class="mt-0 mb-2 d-block d-md-none" />
                        <div id="r-ingreds">
                            <table id="ingred-table" class="table table-sm table-borderless table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th class="pl-0" scope="col">ingredient</th>
                                        <th scope="col">score</th>
                                        <th scope="col">recipes</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%- if r_ingreds -%}
                                    {%- for r_ingred in r_ingreds -%}
                                    <tr>
                                        <td class="pl-0">{{ r_ingred.0 }}</td>
                                        <td>{{ r_ingred.1 }}</td>
                                        <td>{{ r_ingred.2 }}</td>
                                        <td class="text-right pr-0"><button type="button"
                                                class="r-ingred btn btn-outline-primary btn-sm" name="r_ingred"
                                                value="{{r_ingred.0}}">Add</button></td>
                                    </tr>
                                    {%- endfor -%}
                                    {%- endif -%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md mt-3 mt-md-0">
                <div class="d-flex justify-content-between">
                    <h2>Recipes</h2>
                    <a class="d-block d-md-none hide-text" href=#>Hide</a>
                </div>
                <div id="recipes">
                    <hr class="mt-0 mb-2 d-block d-md-none" />
                    {%- if cur_ingreds -%}
                    <span class="recipe-intro">{{ recipes|length }} recipe{{ "s" if recipes|length != 1 }} </span><span
                        class="recipe-prep">with </span>
                    {%- for cur_ingred in cur_ingreds -%}
                    {%- if cur_ingreds|length == 1 -%}
                    <span class="recipe-ingred">{{- cur_ingred -}}</span>
                    {%- elif cur_ingreds|length == 2 -%}
                    <span class="recipe-prep">{{- " & " if loop.last -}}</span><span class="recipe-ingred">{{-
                        cur_ingred
                        -}}</span>
                    {%- else -%}
                    <span class="recipe-prep">{{- "& " if loop.last -}}</span><span class="recipe-ingred">{{- cur_ingred
                        -}}{{- ", " if not loop.last -}}</span>
                    {%- endif -%}
                    {%- endfor -%}
                    {%- else -%}
                    <span class="recipe-intro">Recipes</span>
                    {%- endif -%}
                    <div class="mt-1">
                        {%- for recipe in recipes -%}
                        <div>
                            <a href="{{recipe.1}}">{{ recipe.0 }}</a>
                        </div>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/sp-1.2.1/datatables.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}{{ version_str }}"></script>
    <script src="https://unpkg.com/promise-polyfill@7.1.2/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/whatwg-fetch@2.0.4/fetch.js"></script>
    <script src="{{ url_for('static', filename='datalist-polyfill.min.js') }}"></script>
</body>

</html>