{% extends 'base.html' %}

{% block script %}
  <script src="https://unpkg.com/promise-polyfill@7.1.2/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/whatwg-fetch@2.0.4/fetch.js"></script>
  <script>
    function searchSubmit(ev) {
      ev.preventDefault();
      fetch({{ url_for('search')|tojson }}, {
        method: 'POST',
        body: new FormData(this)
      })
        .then(parseJSON)
        .then(searchShow);
    }

    function parseJSON(response) {
      return response.json();
    }

    function searchShow(data) {
      var span = document.getElementById('result');
      span.innerText = data.result;
    }

    var form = document.getElementById('calc');
    form.searchEventListener('submit', searchSubmit);
  </script>
{% endblock %}
